.cardImageContainer {
  cursor: pointer;
  position: relative;

  img {
    position: relative;
    z-index: 1;
  }

  p {
    position: absolute;
    z-index: 0;
    top: -10px;
    left: 16px;
    height: 97%;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: left 0.2s, top 0.2s;
  }

  &:hover {
    p {
      z-index: 2;
      top: 0;
      left: 0;
    }
  }
}
